<h1>Password Reset Request</h1>

<p>Hello <%= name %>,</p>

<p>We received a request to reset your password for your Amazon Clone account. If you didn't make this request, you can safely ignore this email.</p>

<p>To reset your password, click the button below. This link will expire in <%= expiresIn %>.</p>

<div class="text-center">
  <a href="<%= url %>" class="btn">Reset Password</a>
</div>

<p>If the button above doesn't work, you can also copy and paste the following link into your browser:</p>

<p><%= url %></p>

<p>For security reasons, this password reset link will expire in <%= expiresIn %>. If you need to reset your password after that time, please submit a new request.</p>

<p>If you didn't request a password reset, please ignore this email or contact our customer service if you have concerns about your account security.</p>

<p>Thank you,</p>
<p>The Amazon Clone Security Team</p>